branches/dev_new/OaMiddlewareSxYq/src/com/xpsoft/netoa/entity/OAUpdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://syndata.shopin.cn/OAUpdata" xmlns:tns="http://syndata.shopin.cn/OAUpdata" elementFormDefault="qualified">

	<complexType name="UpdateInfo">
		<sequence>
			<element name="version" type="string" />
			<element name="fileName" type="string" />
			<element name="url" type="string" />
			<element name="desc" type="string" />
		</sequence>
	</complexType>
	
	<element name="UpdateInfo" type="tns:UpdateInfo" />
</schema>